/* Styles de bases pour la mise en place du template */
body{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    padding: 10px;
}
header{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    top: 0px;
    position: fixed;
    border-bottom: 1px solid white;
    background-color: black;
    padding: 10px;
    z-index: 1;
}
h1{
    margin-bottom: 50px;
    font-weight: bold;
}
.navbar-toggler-icon{
    color: white;
}
main{
    margin-top: 120px;
    color: white;
}
footer{
    border-top: 1px solid white;
    background-color: black;
    color: white;
    padding: 10px;
}
/* Liens présents dans la nav */
.astyle{
    margin-right: 20px;
    margin-left: 10px;
    color: grey; 
    transition: 0.5s;
}
.astyle:hover{
    color: white;
    text-decoration: none;
}
/* Font diférente pour la lecture des textes*/
p{
    font-family: 'Libre Baskerville', serif;
}
/* Animation présente dans le logo de la navigation */
.titreHome{
    animation-duration: 10s;
    animation-name: lumos;
    animation-iteration-count: infinite;
}
@keyframes lumos {
    0% { opacity: 0; }
    20% { opacity: 1; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
/* Design s'appliquant à toutes les fiches */
.fiche{
    padding: 20px;
    border: 1px solid white;
    transition: 0.2s;
    color: grey;
}
.fiche:hover{
    color: rgb(255, 255, 255);
}
/* S'applique aux images pour améliorer leur lisibilité */
img{
    margin-bottom: 20px;
}
/* S'applique aux liens non présents de la nav */
.lien{
    color: rgba(160, 133, 21, 0.392); 
    transition: 0.5s;
}
.lien:hover{
    color: rgba(242, 214, 102, 0.995);
    text-decoration: none;
}
/* S'applique au lien de déconnection */
.connect{
    padding-left: 20px;
    padding-left: 20px;
    
    transition: 0.5s;
    color: rgba(172, 116, 170, 0.961); 
}
.connect:hover{
    color: rgba(172, 52, 128, 0.995);
    text-decoration: none;
}
