body{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    padding: 10px;
}
header{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    top: 0px;
    position: fixed;
    border-bottom: 1px solid white;
    background-color: black;
    padding: 10px;
    z-index: 1;
}
h1{
    margin-bottom: 50px;
    font-weight: bold;
}
.navbar-toggler-icon{
    color: white;
}
main{
    margin-top: 120px;
    color: white;
}
footer{
    border-top: 1px solid white;
    background-color: black;
    color: white;
    padding: 10px;
}
.astyle{
    margin-right: 20px;
    margin-left: 10px;
    color: grey; 
    transition: 0.5s;
}
.astyle:hover{
    color: white;
    text-decoration: none;
}
p{
    font-family: 'Libre Baskerville', serif;
}
.titreHome{
    animation-duration: 10s;
    animation-name: lumos;
    animation-iteration-count: infinite;
}
@keyframes lumos {
    0% { opacity: 0; }
    20% { opacity: 1; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.fiche{
    padding: 20px;
    border: 1px solid white;
    transition: 0.2s;
    color: grey;
}
.fiche:hover{
    color: rgb(255, 255, 255);
}
img{
    margin-bottom: 20px;
}
.lien{
    color: rgba(160, 133, 21, 0.392); 
    transition: 0.5s;
}
.lien:hover{
    color: rgba(242, 214, 102, 0.995);
    text-decoration: none;
}
.connect{
    transition: 0.5s;
    color: rgba(30, 147, 40, 0.392); 
}
.connect:hover{
    color: rgba(62, 213, 80, 0.995);
    text-decoration: none;
}
